.app-wrapper {
  max-width: 500px;
  margin: auto!important;
}

.message.negative {
  position: absolute;
  left: calc(50% - 150px);
  top: 20px;
  width: 300px;
  z-index:  1;
  text-align:  center;
}

.float-right {
  float: right;
}